@model IEnumerable<AdminMiniSliderDto>
@{
    ViewData["Title"] = "Mini Slider Listesi";
}

<input type="hidden" value="@ViewBag.success" id="miniSliderListSuccess" />
<input type="hidden" value="@ViewBag.warning" id="miniSliderListWarning" />

<!-- Update Mini Slider Popup Modal -->
<div class="modal fade in" id="updateMiniSliderPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
    <div class="modal-dialog">
        <div class="modal-content" style="width:800px !important">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Mini Slider Güncelleme Formu</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Kaydetmeden Çık</button>*@
            </div>
        </div>
    </div>
</div>

<!-- Create Mini Slider Popup Modal -->
<div class="modal fade in" id="createMiniSliderPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
    <div class="modal-dialog">
        <div class="modal-content" style="width:800px !important">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Yeni Mini Slider Ekleme Formu</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Kaydetmeden Çık</button>*@
            </div>
        </div>
    </div>
</div>


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Mini Slider İşlemleri</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index" asp-area="Admin">Anasayfa</a>
            </li>
            <li class="breadcrumb-item">
                <a>Mini Slider</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Mini Slider Listesi</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <a class="btn btn-primary createMiniSlider" href="#">Yeni Mini Slider Ekle</a>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>Sıra No</th>
                                    <th>Mini Slider Id</th>
                                    <th>Fotoğraf</th>
                                    <th>Dil</th>
                                    <th>Fotoğraf Alt Tag'i</th>
                                    <th>Hedef Ürün Id</th>
                                    <th>Hedef Ürün Adı</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{ int i = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr class="gradeX">
                                        <td class="center">@i</td>
                                        <td class="center">@item.Id</td>
                                        @if (item.PhotoFileName != null)
                                        {
                                            <td class="center">
                                                <a href="/Images/MiniSliderImages/@item.Culture/@item.PhotoFileName" target="_blank"><img src="~/Images/MiniSliderImages/@item.Culture/@item.PhotoFileName" alt="@item.PhotoAltTag" style="width:100px; height:100px;" /></a>
                                            </td>
                                        }

                                        else
                                        {
                                            <td class="center">Mini Slider fotoğrafı yok.</td>
                                        }

                                        @{ string dil = item.Culture.Equals("tr") ? "Türkçe" : item.Culture.Equals("en") ? "İngilizce" : "Rusça";}
                                        <td class="center">@dil</td>
                                        <td class="center">@item.PhotoAltTag</td>
                                        <td class="center">@item.TargetProductId</td>
                                        <td class="center">@item.TargetProductName</td>
                                        <td class="center">

                                            <button type="button" class="btn btn-primary btn-xs updateMiniSlider" data-target="/Admin/MiniSlider/UpdateMiniSlider/@item.Id" title="Detayları Gör/Güncelle">&emsp;<i class="fa fa-search"></i>&emsp;</button>

                                            <button type="button" class="btn btn-danger btn-xs hardDeleteMiniSlider" data-target="/Admin/MiniSlider/HardDeleteMiniSlider/@item.Id" data-rowId="@item.Id" title="Sil">&emsp;<i class="fa fa-trash-o"></i>&emsp;</button>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Sıra No</th>
                                    <th>Mini Slider Id</th>
                                    <th>Fotoğraf</th>
                                    <th>Dil</th>
                                    <th>Fotoğraf Alt Tag'i</th>
                                    <th>Hedef Ürün Id</th>
                                    <th>Hedef Ürün Adı</th>
                                    <th>İşlemler</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {

    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />

    <style>
        .ui-autocomplete {
            z-index: 215000000 !important;
        }
    </style>
}

@section Scripts {

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    @*Datatable ve gelen başarı uyarısını verir*@
    <script type="text/javascript">
        $(document).ready(function () {

            //$('#searchProName').autocomplete({
            //    source: '/Admin/Slider/SearchProductName'
            //});

            //Mini Slider fotoğraf silme
            $("body").on("click", ".delMiniSliderPhoto", function () {
                debugger;
                var result = confirm("Mini Slider fotoğrafı silinecek. Onaylıyor musunuz?");
                if (result) {
                    var miniSliderId = $(this).attr('data-proId');
                    var url = "/Admin/MiniSlider/DeleteMiniSlider?miniSliderId=" + miniSliderId;
                    $.get(url, function (data) { })
                        .done(function (data) {
                            if (data.success == true) {
                                toastr.success(data.message, 'Başarılı');
                                var divToDel = $('#updateMiniSliderPopupForm').find('[data-divId="main"]')
                                divToDel.css("display", "none");
                            }

                            if (data.success == false) {
                                toastr.error(data.message, 'Hata');
                            }

                        })
                        .fail(function () {
                            toastr.error(data.message, 'Hata');
                        })
                }
            });


            //UpdateSlider popupu içinde eğer yüklü fotoğraf yoksa fotoğraf inputunu required yapar.
            $("#updateMiniSliderPopup").on('show.bs.modal', function () {
                //debugger;
                var hasPhoto = $("#ifHasPhoto").val();
                if (hasPhoto.length <= 0) {
                    $('#miniSliderPhotoUpload').attr("required", "required");
                }
                $('#searchProName').autocomplete({
                    source: '/Admin/Slider/SearchProductName',
                    appendTo: '#productSearchBox'
                });
            });

            //CreateSlider popupu içinde fotoğraf inputunu required yapar.
            $("#createMiniSliderPopup").on('show.bs.modal', function () {
                $('#miniSliderPhotoUpload').attr("required", "required");

                $('#searchProName').autocomplete({
                    source: '/Admin/Slider/SearchProductName',
                    appendTo: '#productSearchBox'
                });
            });


            //Datatable
            $('.dataTables-example').DataTable({

                initComplete: function () {
                    this.api().columns().every(function (index, element) {
                        if (index != 0 && index != 1 && index != 2 && index != 8) {
                            var column = this;
                            var select = $('<select class="filterS"><option value=""></option></select>')
                                //.appendTo($(column.header()))
                                .appendTo($(column.footer()))
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        }

                    });
                },
                "language": {

                    "sDecimal": ",",
                    "sEmptyTable": "Tabloda herhangi bir veri mevcut değil",
                    "sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                    "sInfoEmpty": "Kayıt yok",
                    "sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "Sayfada _MENU_ kayıt göster",
                    "sLoadingRecords": "Yükleniyor...",
                    "sProcessing": "İşleniyor...",
                    "sSearch": "Ara:",
                    "sZeroRecords": "Eşleşen kayıt bulunamadı",
                    "oPaginate": {
                        "sFirst": "İlk",
                        "sLast": "Son",
                        "sNext": "Sonraki",
                        "sPrevious": "Önceki"
                    },
                    "oAria": {
                        "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                        "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                    },
                    "select": {
                        "rows": {
                            "_": "%d kayıt seçildi",
                            "0": "",
                            "1": "1 kayıt seçildi"
                        }
                    }
                },
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            //gelen başarı uyarısını verir
            var successText = $('#miniSliderListSuccess').val();

            if (successText.length > 0) {
                toastr.success(successText, "Başarılı");
                $('#miniSliderListSuccess').val("")
            }
            var failText = $('#miniSliderListWarning').val();

            if (failText.length > 0) {
                toastr.error(failText, "Hata");
                $('#miniSliderListWarning').val("")
            }
        });
    </script>

    @*Slider Update Popup*@
    <script>
        $(".updateMiniSlider").click(function () {
            //debugger;
            var url = $(this).data("target");
            $.get(url, function (data) { })
                .done(function (data) {
                    $("#updateMiniSliderPopup .modal-body").html(data);
                    $.validator.unobtrusive.parse("#updateMiniSliderPopupForm");
                    $("#updateMiniSliderPopup").modal("show");
                })
                .fail(function () {
                    //modalımızın bodysine Error! yaz
                    $("#updateMiniSliderPopup .modal-body").text("Hata!!");
                    //sonra da modalimizi göster
                    $("#updateMiniSliderPopup").modal("show");
                })
        });
    </script>

    @*Slider Create Popup*@
    <script>
        $(".createMiniSlider").click(function () {
            //debugger;
            var url = "/Admin/MiniSlider/CreateMiniSlider";
            $.get(url, function (data) { })
                .done(function (data) {
                    $("#createMiniSliderPopup .modal-body").html(data);
                    $.validator.unobtrusive.parse("#createMiniSliderPopupForm");
                    $("#createMiniSliderPopup").modal("show");
                })
                .fail(function () {
                    //modalımızın bodysine Error! yaz
                    $("#createMiniSliderPopup .modal-body").text("Hata!!");
                    //sonra da modalimizi göster
                    $("#createMiniSliderPopup").modal("show");
                })
        });
    </script>

    @*Dosya input boxuna seçili dosya adedini yazar*@
    <script>
        $(document).ready(function () {
            $("body").on("change", "#miniSliderPhotoUpload", function () {

                var sdsd = document.getElementById("miniSliderPhotoUpload");
                var fileNamee = sdsd.files.item(0).name;
                var fileLabell = document.getElementById('miniSliderUploadLabel');
                fileLabell.innerHTML = fileNamee;
            });
        });
    </script>

    @*Slider'ı kalıcı sil butonu tıklama*@
    <script>
        $('.dataTables-example tbody').on('click', 'button.hardDeleteMiniSlider', function () {
            //debugger;
            var result = confirm("Slider kalıcı olarak database'den silinecek. Onaylıyor musunuz?");
            if (result) {
                var url = $(this).data("target");
                $.get(url, function (data) { })
                    .done(function (data) {
                        if (data.success == true) {
                            toastr.success(data.message, 'Başarılı');

                            $(".dataTables-example tr").each(function () {
                                var rowSelector = $(this);

                                if (rowSelector.find("button.hardDeleteMiniSlider").attr('data-rowId') == data.proId) {
                                    rowSelector.remove();
                                }
                            });
                        }

                        if (data.success == false) {
                            toastr.error(data.message, 'Hata');
                        }

                    })
                    .fail(function () {
                        toastr.error(data.message, 'Hata');
                    })
            }
        });
    </script>
}